
.allBackground{
    background-color: #fffef8;
}

.allContent{
    -moz-user-select: none;
    user-select: none;


}

#headerContainer{
    height: 20%;
    width: 100%;
    background-color: #222831;
    margin-top: 0;
    display: inline-block;
}



.searchContent{
    /*position: absolute;
    right: 20%;
    left:20%;
    top:5%;
    height: 10%;*/
    margin: 2% 20% 2% 20%;
    height: 60%;

}


#searchBar{
    /*position: absolute;
    left: 0;*/
    height: 45%;
    /*top:0;
    width: 81%;*/
    width: 81%;
    display: inline-block;
    margin-bottom: 1%;

}

#searchCategory{
    /*position: absolute;
    left: 0;
    top:53%;*/
    height: 45%;
    width: 40%;
    display: inline-block;
    margin-right: 0.5%;
}


#searchCity{
   /* position: absolute;
    left: 41%;
    top: 52%;*/
    height: 45%;
    width: 40%;
    display: inline-block;
}



#searchButton {
    background: #fcda05;
    font-family: "Arial";
    font-size: large;
    font-weight: bold;
    color: #222831;
    border-color: #222831;
    transition: .3s ease-out ;

}

#searchButton:hover {
    background: #FDE75F;
    border-color: #FDE75F ;
}

#searchButton{
    /*position: absolute;
    right: 0;*/
    float: right;
    margin-right: 0;
    height: 45%;
    width: 18%;
    display: inline-block;
    margin-top: 0;
}



#loginButton{
    width: 150px;
    right: 5%;
    font-size: large;
    background-color: #393e46;
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 45%;
    box-shadow: 0 1px 4px 0 rgba(57,62,70,.2);
    transition: .3s ease-out ;
    font-weight: bold;


}

#loginButtonProduct{
    width: 150px;
    right: 17%;
    font-size: large;
    background-color: #fcda05;
    color: #393e46;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 40px;
    box-shadow: 0 1px 4px 0 rgba(57,62,70,.2);
    transition: .3s ease-out ;
    font-weight: bold;
    border-color: #fcda05;
}

#loginButtonProduct:hover{
    order-color: #FDE75F;
    background-color: #FDE75F;
}

#loginButton:hover{
   /* background-color: #ebebec;*/
    color: #393e46;
    border-color: #FDE75F;
    background-color: #FDE75F;
}

.userLoginContent{
    float: right;
    width: 50%;
    height: 10%;
    position: relative

}

#userMenuButton{
    color: #393e46;
    width: 150px;
    font-size: large;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 45%;
    transition: .3s ease-out;
    right: 23%;
    font-weight: bold;
    border: 1px solid #393e46;

}

#userMenuButtonProduct{
    color: #393e46;
    width: 150px;
    font-size: large;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 40px;
    transition: .3s ease-out;
    right: 35%;
    font-weight: bold;
    border: 1px solid #393e46;
    background-color: #fffef8;
    border-color: #fcda05;
}

#userMenuButton .dx-icon, #userMenuButtonProduct .dx-icon {
    color: #393e46;
    font-size: 20px;

}

#userMenuButton:hover, #userMenuButtonProduct:hover{
    background-color: #FDE75F;
    border-color: #FDE75F;
}





/*-----------------------------*/
/*latest content*/
.latestContent{
    margin: 8% 5% 0 5%;
}

.randomContent{
    margin: 5% 5% 5% 5%;

}

.bestUserContent{
    margin: 5% 5% 0 5%;
}



#latestText, #randomText, #bestUserText{
    font-family: Arial;
    font-size: xx-large;
    font-weight: bold;
    color: #393e46;
    text-shadow:  2px 2px 8px rgba(57,62,70,0.5);
}

#latestButton  .dx-icon{
    float: right;
    padding-left: 10px;
    color: #393e46;
    padding-top: 5px;
    padding-bottom: 5px;

}

#latestButton{
    margin-top:0.5%;
    font-weight: bold;
    box-shadow: 0 1px 4px 0 rgba(57,62,70,.2);
    transition: .3s ease-out ;
    width: 150px;
    font-size: large;
    float: right;
    height: 40px;
    border-color: #fcda05;
    color: #393e46;

}

#randomButton   .dx-icon{
    float: right;
    padding-left: 10px;
    color: #393e46;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5%;

}

#randomButton{
    margin-top:0.5%;
    font-weight: bold;
    box-shadow: 0 1px 4px 0 rgba(57,62,70,.2);
    transition: .3s ease-out ;
    width: 150px;
    font-size: large;
    float: right;
    height: 40px;
    border-color: #fcda05;
    color: #393e46;

}

#latestButton:hover, #randomButton:hover{
    background-color: #FDE75F;
}

/*----------------------------------------*/

.bestUserContent{
    margin: 5% 5% 0 5%;
}

.userContainer{
    margin: 0 auto;
    width: 100%;
}

.userContainer > div {
    height: 400px;
    width: 300px;
    display: inline-block;
    margin: 3% 0 3% 2%;
    float: left;
}

.userContainer .userCards {
    cursor: pointer;
}

.userCards {
    background-color: RGB(255,255,255);
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
    transition: .3s ease-out ;
    height: 290px;
    width:290px;
}
.userContainer .userCards > #img{
    width: 250px;
    height: 250px;
    background-color: #393e46;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    border-radius: 50%;
    background-color: #393e46;
    transition: .3s ease-out ;

}

.userLogin{
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    margin-top:2%;
    text-align: center;
    padding-top: 5%;
    color: #393e46;

}

.userRating{
    font-family: Arial;
    margin-top:5%;
    text-align: center;
    font-size: 20px;
    color: #74777d;
}

.userCards:hover {
    border-radius: 0;
    box-shadow: 0 0 0 0 ;
    background-color: #f3f3f3;
    border: 1px solid #fcda05;
}

.userCards:hover > #img{
    opacity: 0.3;

}


/*--------------------------------*/
.dx-tile-content {
    height: 100%;
}

.dx-tile-content .productContent {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: block;

}
/*.productContent{
    margin: 8% 10% 0 10%;
}*/


.productContainer > div {
    display: inline-block;
    width: 300px;
    height: 400px;
    vertical-align: top;
    margin: 2% 2% 2% 2%;

}

.productContainer .productCards .productCardsOffer {
    cursor: pointer;
    transition: .3s ease-out ;
}

.productContainer .productCardsOffer > #offerLink{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #05A2FC;
    font-weight: bold ;
    transition: .3s ease-out ;


}

.productContainer .productCards > img{
    width: 100%;
}

.productContent > img{
    width: 100%;
}

.productContent > img {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
    background-color: #393e46;
    transition: .3s ease-out ;
}
.productContainer .productCardsOffer > img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 60%;
    background-color: #393e46;
    transition: .3s ease-out ;
}
.productCards, .productCardsOffer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: RGB(255,255,255);
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
    border-radius: 5px;
    transition: .3s ease-out ;

}

#productNameContainer{
    background-color: #05A2FC;
    height: 25%;
}

.productName{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    color: #393e46;

}

#categoryText{
    position: absolute;
    top:82%;
    left: 2%;
    font-size: 20px;
    color: #74777d;
}
.productCategory{
    margin-top:95%;
    text-align: center;
    font-size: 20px;
    color: #74777d;
}

.productLocal{
    margin-top:1%;
    text-align: center;
    font-size: 18px;
    color: #74777d;
}


/*.productContainer:hover {
    border-radius: 0;
    box-shadow: 0 0 0 0 ;
    background-color: white;

}*/

.productContent:hover > img {
    opacity: 0.3;
}

.productCardsOffer:hover > #img {
    opacity: 0.3;
}

.productCardsOffer:hover > .productName {
    opacity: 0.3;
}
.productCardsOffer:hover > .productCategory {
    opacity: 0.3;
}

#offerLink:hover{
    cursor: pointer;
}

#offerLinkText{
    transition: .3s ease-out ;
}

#offerLink:hover > #offerLinkText{
    color: #393e46;
}

.listContainer{
    margin: 5% 20% 5% 20%;
    padding: 2% 2% 2% 2%;
    background-color: white;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);

}

#productList{
   /* height: 70%;*/
}

.product{
    height: 150px;

}

.product > img {
    height: 100%;
    width: 150px;
    float: left;
    background-color: #393e46;

}


#textContainer{

    float: left;
    margin-left: 2%;
    margin-bottom: 1%;
}

#textContainer > #name{
    font-size: xx-large;
}


#textContainer >  #category{
    color: #74777d;
    font-size: x-large;
    margin-top: 35%;

}
#textContainer >  #city{
    color: #74777d;
    font-size: large;
    margin-top: 2%;
}

.header, .headerUser{
    height: 10%;
    background-color: #393e46;
}



.pContent{
    margin: 5% 5% 5% 10%;
    width: 35%;
    height: 100%;
    background-color: white;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
    padding: 3% 3% 3% 3%;
    display: inline-block;
    float: left;


}
.productGallery{
    height: 40%;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
    margin-bottom: 3%;

}

.oneProductContainer{
    height: 60%;
    margin-bottom: 3%;
}
.ownerOfferProductContainer{
    background-color: white;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
    float: right;
    margin-top: 1%;
    margin-right: 9%;
    width: 35%;
    height: 60%;
    margin-bottom: 5%;
}

#ownerOfferListProduct{
    margin: 8% 2% 2% 2%;
    height: 75%;
}

#anotherOfferListText{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-top: 5%;
}

.ownerContainer{
    float: right;
    margin-top: 5%;
    margin-right: 9%;
    width: 35%;
    height: 50%;
    background-color: white;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
    display: inline-block;
}

#productDesc{
    height: 100%;
    width: 100%;
    display: inline-block;
}

#productName{
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial;
    float: left;
    margin-top: 5%;
    margin-left: 3%;
    color: #393e46;

}

#productDate {
    float: right;
    margin-top: 7%;
    margin-right: 3%;
    font-family: Arial;
    color: #393e46;
    font-size: medium;
}

#creationDateText{
    float: right;
    margin-top: 7%;
    margin-right: 1%;
    font-family: Arial;
    font-size: medium;
    color: #393e46;

}

#productDescription{
    color: #393e46;
    font-family: Arial;
    font-size: medium;
    margin: 3% 3% 0 3%;
    height: 70%;


}

.product > hr{
    background-color: #05A2FC;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#hr1{
    margin: 15% 3% 0 3%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);


}

#hr2{
    margin: 5% 3% 0 3%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

#productCategory {
    margin-bottom: 5%;
    margin-right: 3%;
    margin-top:2%;
    float: right;
    font-family: Arial;
    font-size: medium;
    color: #393e46;
}


#transactionButton{
    background: #fcda05;
    font-family: "Arial";
    font-size: large;
    font-weight: bold;
    color: #222831;
    border-color: #e3e4e5;
    transition: .3s ease-out ;

}

#transactionButton:hover {
    background: #FDE75F;
    border-color: #FDE75F ;

}

#transactionButton{
    margin: 5% 0 0 5%;
    height: 50px;
    width: 300px;
}

#hr3{
    margin: 5% 3% 0 3%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

#imgOwner{
    width: 250px;
    height: 250px;
    display: block;
    margin-right: 5%;
    margin-top:10%;
    float: right;
    border-radius: 2%;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
}

#ownerAddressText{
    text-align: right;
    font-size: large;
    color: #393e46;
}

#ownerPhoneText{
    text-align: right;
    font-size: large;
    color: #393e46;
}

#ownerEmail{
    text-align: right;
    font-size: large;
    color: #393e46;
}

#ownerPhone{
    text-align: right;
    font-size: large;
    color: #393e46;
}


#textOwnerContainer{
    float: right;
    margin-top:10%;
    margin-right: 5%;

}

#textOwnerContainer > #ownerLogin{
    margin-right: 0;
    text-align: right;
    font-size: xx-large;
    font-weight: bold;
    color: #393e46;

}

.ownerInfo{
    float: left;
    padding-right: 2%;
    width: 100%;
    margin-top: 15%;

}

/*#ownerEmail{
    font-size: large;
    float: right;
    color: #393e46;
    display: inline-block;


}

#ownerAddressText{
    font-size: large;
    color: #393e46;
    display: inline-block;
    width: 105px;
}


 .ownerInfo{
    float: right;
    right: 0;
    padding-right: 2%;
    width: 70%;
     margin-top: 5%;

}

.ownerInfoPhone {
    text-align: right;
    right: 0;
    padding-right: 2%;
    width: 70%;
    margin-top: 40%;
    background-color: #05A2FC;
}


#ownerPhoneText{
    display: inline-block;

}

#ownerPhone{
    display: inline-block;
}*/

#ownerAddress{
    margin-top: 45%;
}

#addFavButton{
    font-family: "Arial";
    font-size: large;
    font-weight: bold;
    color: #393e46;
    border-color: #fcda05;
    transition: .3s ease-out ;

}

#addFavButton:hover {
    background: #FDE75F;


}

#addFavButton{
    margin: 5% 5% 0 0;
    height: 50px;
    width: 250px;
    float: right;
}

#transactionButton  .dx-icon{
    float: left;
    color: #393e46;
    margin-top: 3%;
    margin-left: 0;
    font-size: 30px;

}

#addFavButton  .dx-icon{
    float: left;
    color: #fcda05;
    margin-top: 3%;
    margin-left: -5%;
    font-size: 30px;
    transition: .3s ease-out

}

#addFavButton:hover  .dx-icon{
    color: #393e46;
}

.loginContainer {
    margin-left: 5%;
    margin-top: 5%;
    height: 50%;
    width: 43%;
    /* border: 1px solid #393e46;
     border-radius: 5px;*/
    background-color: white;
    box-shadow: 0 15px 50px 5px rgba(57, 62, 70, .2);
}

#loginPopup{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#loginText{
    font-size: x-large;
    font-weight: bold;
    margin: 5% 5% 5% 5%;
    width: 90%;

}

#loginForm{
    margin: 10% 5% 0 5%;

}

#loginButtonForm, #registrationButtonForm{
    margin: 10% 20% 0 20%;
    width: 200px;
    background-color: #fcda05;
    font-size: medium;
    color: #393e46;
    border-color: #fcda05;
    font-weight: bold;
    transition: .3s ease-out;
}

#logoutButton{
    margin: 1.5% 10% 0 0;
    float: right;
    width: 150px;
    background-color: #fcda05;
    font-size: medium;
    color: #393e46;
    border-color: #fcda05;
    font-weight: bold;
    transition: .3s ease-out;
    height: 40px;
}

#homeButtonUserContent{
    margin: 1.5% 1% 0 0;
    height: 40px;
    float: right;
    width: 70px;
    background-color: #fffef8;
    font-size: medium;
    color: #393e46;
    border-color: #fcda05;
    font-weight: bold;
    transition: .3s ease-out;
}

#homeButton{
    color: #393e46;
    width: 70px;
    font-size: large;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 45%;
    transition: .3s ease-out;
    right: 41%;
    font-weight: bold;
    border: 1px solid #393e46;
}


#homeButtonProduct{
    color: #393e46;
    width: 70px;
    font-size: large;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 40px;
    transition: .3s ease-out;
    right: 53%;
    font-weight: bold;
    border: 1px solid #fcda05;
    background-color: #fffef8;
}

#homeButtonUserContent  .dx-icon, #homeButtonProduct .dx-icon {
    float: left;
    margin-top: 5%;
    margin-left: 25%;
    font-size: 25px;

}

#homeButton .dx-icon{
    float: left;
    margin-top: 10%;
    margin-left: 25%;
    font-size: 25px;
}

#logoutButton:hover, #homeButtonUserContent:hover, #homeButton:hover, #homeButtonProduct:hover{
    background-color: #FDE75F;
    border-color: #FDE75F;
}


#loginButtonForm:hover, #registrationButtonForm:hover{
    background-color: #FDE75F;
    border-color: #FDE75F;
    color: #393e46;
}

#registrationHomeText{
    margin-top: 15%;
    display: inline-block;
    font-size: medium;
    color: #393e46;
}

#registrationLink{
    margin-top: 15%;
    display: inline-block;
    font-size: medium;
    color: #393e46;
    transition: .3s ease-out;
}

#registrationLink:hover{
    color: #fcda05;
}


.registrationContainer{
    margin: 5% 35% 0 35%;
    padding-top: 1%;
    background-color: white;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
    height: 60%;

}

#registrationContent{
    text-align: center;

}



#registrationText{
    font-size: x-large;
    font-weight: bold;
    margin: 4% 5% 5% 5%;
    width: 90%;
}

#registrationForm{
    margin: 10% 10% 0 10%;
}


.userMenuContainer{
    margin: 5% 0 5% 10%;
    background-color: white;
    float: left;
    display: inline-block;
    min-height: 30%;
    width: 25%;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
}

.userInformationContainer{
    float: right;
    display: inline-block;
    margin: 5% 10% 5% 0;
    min-height: 30%;
    width: 50%;
    height: 80%;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
    background-color: white;
}

#userMenuList{
    height: 100%;
    width: 95%;
    margin: 3% 3% 3% 3%;
    font-size: large;
}

#userDataContent,#userPasswordContent{
    margin: 5% 15% 5% 15%;
    text-align: center;


}

#headerUserDataText, #headerUserPasswordText, #headerUserOffersText, #headerUserFavText, #headerUserDeleteText{
    margin-bottom: 5%;
    font-size: x-large;
    font-family: Arial;
    color: #393e46;


}

#userDataFormButton, #userPasswordButton{
    margin-top: 5%;
    width: 150px;
    color: #393e46;
    border-color: #fcda05;
    font-size: medium;
    font-weight: bold;
    transition: .3s ease-out ;
}

#userDataFormButton:hover, #userPasswordButton:hover{
    background: #FDE75F;
}


.offer, .offerAnotherList{
    height: 120px;
    display: flex;
    align-items: center;
}

.offer > img, .offerAnotherList>img {
    height: 100%;
    width: 150px;
    float: left;
    /*background-color: #393e46;*/
}

.offer > #name, .offerAnotherList>#name{

    font-size: x-large;
    margin-left: 2%;
    float: left;
}

.offer > #creationDateText{

    font-size: large;
    float: right;
    position: absolute;
    right: 0;
    margin-right: 13%;
    margin-top: 0;
    display: inline-block;
    padding-right: 1%;
}

.offer > #creationDate{

    float: right;
    font-size: large;
    margin-right: 2%;
    position: absolute;
    right: 0;
    display: inline-block;

}

#userOffersContent, #userFavContent, #userDeleteContent{
    text-align: center;
    margin: 5% 5% 5% 5%;
    height: 70%;
}



.userOfferListContainer, .userFavListContainer, .userDeletedOfferListContainer{
    margin-top: 10%;
    height: 100%;

}

#userOfferList{
    height: 70%;
}

.userOffersButtonMenu, .userFavButtonMenu, .userDeletedOffersButtonMenu{
    margin: -3% 0 5% 0;
    width: 50%;
    float: left;
}



#addOfferButton, #editOfferButton, #archiveOfferButton, #deleteFavButton, #deleteOfferButton, #restoreOfferButton{
    width: 50px;
    height: 40px;
    border-color: #fcda05;
    color: #393e46;
    margin-right: 2%;
    float: left;
    transition: .3s ease-out ;

}

#addOfferButton:hover, #editOfferButton:hover, #archiveOfferButton:hover, #deleteFavButton:hover, #deleteOfferButton:hover,
#restoreOfferButton:hover{
    background-color: #FDE75F;
}

#addOfferButton:focus, #editOfferButton:focus, #archiveOfferButton:focus, #deleteFavButton:focus, #deleteOfferButton:focus,
#restoreOfferButton:focus{
    background-color: #FDE75F;
}

#addOrEditOfferPopup, #tranPopup{
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


#cancelAddButton, #cancelTranButton {
    position: absolute;
    bottom: 5%;
    right: 12%;
    width: 100px;
    font-size: medium;
    font-weight: bold;
    border-color: #ff7b6a;
    transition: .3s ease-out ;

}

#cancelAddButton:hover, #cancelTranButton:hover, #cancelAnotherButton:hover{
    background-color: #ffbfb2;
}

#cancelAnotherButton{
    position: absolute;
    bottom: 5%;
    right: 12%;
    width: 150px;
    height: 40px;
    font-size: medium;
    font-weight: bold;
    border-color: #ff7b6a;
    transition: .3s ease-out ;
}

#acceptAnotherButton{
    width: 150px;
    height: 40px;
    position: absolute;
    bottom: 5%;
    right: 1%;
    color: #393e46;
    border-color: #fcda05;
    font-size: medium;
    font-weight: bold;
    transition: .3s ease-out ;

}

#saveAddButton, #sendTranButton{
    position: absolute;
    bottom: 5%;
    right: 1%;
    width: 100px;
    color: #393e46;
    border-color: #fcda05;
    font-size: medium;
    font-weight: bold;
    transition: .3s ease-out ;
}

#saveAddButton:hover, #sendTranButton:hover, #acceptAnotherButton:hover{
    background-color: #FDE75F;
}

#imgUserContainer{

}

#imgUser{
    width: 200px;
    height: 200px;
    background-color: #393e46;
    float: right;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
    margin-bottom: 7%;
    margin-top:10%;
}

#userImgUploaderContainer{
    display: inline-block;
    float: left;
    margin-top:10%;
    margin-bottom: 10%;
    width: 55%;
}

#userImgUploader .dx-fileuploader-button{
    color: #393e46;
    border-color: #fcda05;
    font-size: medium;
    transition: .3s ease-out ;
    color: #393e46;
}


#userImgUploader .dx-fileuploader-button:hover{
    background-color: #FDE75F;
    border-color: #FDE75F;
}


#userImgUploader .dx-fileuploader-button:focus{
    background-color: #fef099;
    border-color: #FDE75F;
}

#clientOfferGrid, #rOfferGrid{
    margin-top: 5%;
}

#acceptLink{
    color: #97eb03;
}

#deleteLink{
    color: #ff7b6a;
}

#showLink{
    color: #05A2FC;
}

#acceptLink, #deleteLink, #showLink{
    font-weight: bold;
    transition: .3s ease-out;
}

#acceptLink:hover, #deleteLink:hover, #showLink:hover{
    color: #393e46;
    font-weight: bold;
}



#anotherOfferContainer{
    height: 80%;
}

.offerAnotherList > #AnotherOfferDetailsButtonContainer{
    margin-right: 2%;
    position: absolute;
    right: 0;
    display: inline-block;
}

#showAnotherOfferDetailsButton{
    transition: .3s ease-out ;
    width: 150px;
    font-size: large;
    height: 40px;
    border-color: #fcda05;
    color: #393e46;
}

#showAnotherOfferDetailsButton:hover, #addAnotherOfferButton:hover{
    background-color: #FDE75F;
    border-color: #FDE75F
}

#showAnotherOfferDetailsButton:focus, #addAnotherOfferButton:focus{
    background-color: #fef099;
    border-color: #FDE75F;
}

#addAnotherOfferButton{
    margin: 2% 0 0 0;
    transition: .3s ease-out ;
    width: 300px;
    font-size: large;
    height: 40px;
    border-color: #fcda05;
    color: #393e46;
 }


/*.rOfferButtonContainer{
    position: absolute;
    right: 0;
    display: inline-block;
    background-color: #97eb03;
    height: 20%;
}*/

#deleteROfferButton{
    position: absolute;
    bottom: 5%;
    right: 1%;
    width: 200px;
    height: 40px;
    font-size: medium;
    font-weight: bold;
    border-color: #ff7b6a;
    transition: .3s ease-out ;
}

#acceptROfferButton{
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 5%;
    right: 15%;
    color: #393e46;
    border-color: #97eb03;
    font-size: medium;
    font-weight: bold;
    transition: .3s ease-out ;
}

#sendResponseOfferButton{
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 5%;
    right: 29%;
    color: #393e46;
    border-color: #fcda05;
    font-size: medium;
    font-weight: bold;
    transition: .3s ease-out ;

}


#deleteROfferButton:hover{
    background-color: #ffbfb2;

}

#acceptROfferButton:hover{
    background-color: #d5fe8d;

}

#sendResponseOfferButton:hover{
    background-color: #FDE75F;

}










