.allBackground{
    background-color: #f3f4ee;
}

.allContent{
    -moz-user-select: none;
    user-select: none;
}

.headerContainer{
    height: 10%;
    width: 100%;
    background-color: #388E3C;
    display: flex;
    align-items: center;
    justify-content: center
}

.searchContent{
    display: inline-block;
    width: 100%;
    margin: 0 2% 0 2%;
    height: 45%;
}

.headerContainer> img{
    margin-left: 10%;
    height: 68%;

}

#searchBarL{
    display: inline-block;
    width: 40%;
    height: 100%;
}

#searchCategoryL{
    display: inline-block;
    height: 100%;
}

#searchCityL{
    display: inline-block;
    height: 100%;
}

#searchButtonL{
    font-family: "Open Sans";
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: #388E3C;
    border-color: white;
    /*height: 100%;*/
    float:right;
    margin-right: 0;
    margin-top: 0;
    display: inline-block;
    /*width: 15%;*/
    transition: .3s ease-out;
}

#searchButtonL:hover{
    background-color: #2e7632;
    border-color: #2e7632;
}


.userLoginContent{
    float: right;
    margin: 0 15% 0 2%;
    display: inline-block;
    height: 45%;
}

#loginButton{
    font-family: "Open Sans";
    font-size: large;
    font-weight: bold;
    color: white;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;
    display: inline-block;

}

#loginButton  .dx-icon{
    display: inline-block;
    color: white;
    font-size: 25px;
    padding-right: 30px;
}

#loginButton:hover{
    background-color: #2e7632;
    border-color: #2e7632;
}

#homeButton{
    display: inline-block;
    height: 100%;
    width: 70px;
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;
}
#homeButton  .dx-icon{
    float: left;
    margin-top: 10%;
    margin-left: 25%;
    font-size: 25px;
    color: white;
}
#homeButton:hover{
    background-color: #2e7632;
    border-color: #2e7632;
}

/*list search page*/
.listContainer{
    margin: 2% 15% 1% 15%;
    background-color: white;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
    padding: 1% 2% 1% 2%;

}



.ownerOfferProductContainer{
    background-color: white;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
    float: right;
    margin-top: 1%;
    margin-right: 9%;
    width: 35%;
    height: 60%;
    margin-bottom: 5%;
}

#ownerOfferListProduct{
    margin: 8% 2% 2% 2%;
    height: 75%;
}


@media (max-width: 380px) and (max-height: 700px) {

    /*.headerContainer> img{
        display: inline-block;
        margin-left: 5%;
        height: 20%;
        width: 20%;
        margin-top: 2%;
        background-color: #05A2FC;

    }

    .searchContent{
        margin: 2% 5% 2% 5%;
        height: 70%;
        float: left;
        width: 90%;
    }

    #searchBarL {
        display: inline-block;
        width: 100%;
        height: 22%;
    }

    #searchCategoryL{
        display: inline-block;
        height: 22%;
        width: 100%;
        margin-top: 1%;
    }

    #searchCityL{
        display: inline-block;
        height: 22%;
        width: 100%;
        margin-top: 1%;
    }

    #searchButtonL{
        height: 22%;
        width: 45%;
        margin-top: 1%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .userLoginContent{
        display: inline-block;
        margin: -80% 5% 0 0;
        height: 10%;
        float: right;
    }

    #loginButton  .dx-icon{
        padding-right: 25px;
    }*/


}

@media (min-width: 381px) and (max-width: 768px){

    .headerContainer{
        min-height: 20%;
        display: flex;
        align-items: normal;
        justify-content: normal;
    }

    .headerContainer> img{
        margin-left: 5%;
        height: 50%;
        margin-top: 2%;

    }

    .searchContent{
        margin: 2% 2% 2% 2%;
        height: 85%;
    }

    #searchBarL {
        display: inline-block;
        width: 100%;
        height: 30%;
    }

    #searchCategoryL{
        display: inline-block;
        height: 30%;
        width: 49%;
        margin-top: 1%;
    }

    #searchCityL{
        display: inline-block;
        height: 30%;
        width: 49%;
        float: right;
        margin-top: 1%;
    }

    #searchButtonL{
        margin-top: 1%;
        height: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 55%;

    }

    .userLoginContent{
        margin: 2% 5% 0 0;
        height: 30%;
    }

    #loginButton  .dx-icon{
        padding-right: 25px;
    }


    .listContainer {
        margin: 2% 5% 1% 5%;
    }
}

@media (min-width: 769px) and (max-width: 992px){

    .headerContainer> img{
        margin-left: 5%;

    }
    .userLoginContent{
        margin: 0 5% 0 0;
    }

    #loginButton  .dx-icon{
        padding-right: 25px;
    }

    .searchContent{
        display: flex;
        flex-flow: row;

    }

    #searchButtonL{
        max-width: 30%;
        min-width: 18%;
    }

    #searchBarL {
        flex-grow : 1;
        margin-right: 1%;
    }

    #searchCityL{
        max-width: 30%;
        margin-right: 1%;
    }

    #searchCategoryL{
        max-width: 30%;
        margin-right: 1%;
    }

    .listContainer {
        margin: 2% 5% 1% 5%;
    }

}

@media (min-width: 993px) and (max-width: 1200px){

    .headerContainer> img{
        margin-left: 5%;

    }
    .userLoginContent{
        margin: 0 5% 0 0;
    }

    .searchContent{
        margin-right: 5%;
        display: flex;
        flex-flow: row;

    }

    #searchBarL {
        flex-grow : 1;
        margin-right: 1%;
    }

    #searchCityL{
        max-width: 30%;
        margin-right: 1%;
    }

    #searchCategoryL{
        max-width: 30%;
        margin-right: 1%;
    }

    #searchButtonL{
        max-width: 30%;
        min-width: 17%;
    }

    .listContainer {
        margin: 2% 5% 1% 5%;
    }
}

@media (min-width: 1201px) and (max-width: 1500px){


    /*.userLoginContent{
        margin: 0 5% 0 0;
    }*/

    .searchContent{
        margin-right: 3%;
        display: flex;
        flex-flow: row;

    }

    #searchBarL {
        flex-grow : 1;
        margin-right: 1%;
    }

    #searchCityL{
        max-width: 30%;
        margin-right: 1%;
    }

    #searchCategoryL{
        max-width: 30%;
        margin-right: 1%;
    }

    #searchButtonL{
        min-width: 20%;
        max-width: 30%;
    }
}

@media (min-width: 1501px){


    .searchContent{
        display: flex;
        flex-flow: row;

    }

    #searchBarL {
        flex-grow : 1;
        margin-right: 1%;
    }

    #searchCityL{
        max-width: 30%;
        margin-right: 1%;
    }

    #searchCategoryL{
        max-width: 30%;
        margin-right: 1%;
    }

    #searchButtonL{
        min-width: 15%;
        max-width: 30%;
    }

}