.allBackground{
    background-color: #f3f4ee;
}

.allContent{
    -moz-user-select: none;
    user-select: none;
    font-family: "Open Sans", Arial, sans-serif;
}

.headerContainer{
    height: 10%;
    width: 100%;
    background-color: #388E3C;
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: center*/
}

.headerContainer> img{
    position: absolute;
    left: 25%;
    height: 68%;
}

.userLoginContent{
    position: absolute;
    right: 25%;
    display: inline-block;
    height: 45%;
}

#logoutButton{
    font-size: large;
    font-weight: bold;
    color: white;
    /*height: 100%;*/
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;
    display: inline-block;

}

#logoutButton  .dx-icon{
    display: inline-block;
    color: white;
    font-size: 25px;
    padding-right: 30px;
}

#logoutButton:hover{
    background-color: #2e7632;
    border-color: #2e7632;
}

#drawerButton{
    display: inline-block;
    height: 100%;
    width: 40px;
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;
    color: white;
}

#drawerButton  .dx-icon{
    color: white;
}

#drawerButton:hover{
    background-color: #2e7632;
    border-color: #2e7632;
}

.panel-list .dx-list-group-header{
    color: #fff;
    border-top: 1px solid rgba(221, 221, 221, .2);
    padding-left: 5%;
}

.panel-list .dx-list-item {
    padding-left: 5%;
    color: #fff;
    border-top: 1px solid rgba(221, 221, 221, .2);
}


/*content*/



.userMenuContainer{
    font-family: "Open Sans", Arial, sans-serif;
    margin: 2% 1% 3% 25%;
    background-color: white;
    float: left;
    display: inline-block;
    width: 15%;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
}

.userInformationContainer{
    display: inline-block;
    margin: 2% 25% 3% 0;
    width: 34%;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
    background-color: white;

}

#userMenuList{
    height: 100%;
    width: 95%;
    margin: 3% 3% 3% 3%;
    font-size: large;

}


.cList{
    display: inline-block;
    align-items: center;
    float: right;
    width: 10%;

}

#menuListText{
    display: inline-block;
    align-items: center;
    float: left;
}

#newC, #activeC{
    background-color: #388E3C;
    border-radius: 50%;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;

}

#userDataContent,#userPasswordContent {
    margin: 5% 5% 5% 5%;
    text-align: center;
}

#headerUserDataText, #headerUserPasswordText, #headerUserOffersText, #headerUserFavText, #headerUserDeleteText, #headerUserReceiveText,
#headerUserSendText, #headerUserActiveText, #headerUserSentActiveText, #headerUserEndTransactionText, #headerUserDeleteText{
    margin-bottom: 5%;
    font-size: x-large;

}

#userDataFormButton, #userPasswordButton{
    margin-top: 5%;
    width: 150px;
    border-color: #388E3C;
    font-size: medium;
    font-weight: bold;
    transition: .3s ease-out ;
}
#userDataFormButton:hover, #userPasswordButton:hover{
    background: #bee5bf;
}

#imgUser{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    float: right;
    box-shadow: 0 15px 50px 5px rgba(57,62,70,.2);
    margin: 7% 10% 3% 0;
    display: inline-block;
}

#userImgUploaderContainer{
    float: left;
    display: inline-block;
    margin:5% 0 0 0;
    width: 55%;
}

#userImgUploader .dx-fileuploader-button{
    border-color: #388E3C;
    font-size: medium;
    transition: .3s ease-out ;
}


#userImgUploader .dx-fileuploader-button:hover{
    background-color: #bee5bf;
}


#userImgUploader .dx-fileuploader-button:focus{
    background-color: #bee5bf;
    border-color: #388E3C;
}

#userOffersContent, #userFavContent, #userDeleteContent,#userReceivedContent,#userSendTransactionContent,#userActiveTransactionContent,
#userSentActiveTransactionContent, #userEndTransactionContent{
    text-align: center;
    margin: 5% 5% 5% 5%;
}

.userOffersButtonMenu, .userFavButtonMenu, .userDeletedOffersButtonMenu{
    margin-bottom: 5%;
    width: 50%;
    float: left;
    margin-top: -5%;
}

.offersUser, .offerFav, .offerDelete, .offerAnotherList {
    height: 120px;
    display: flex;
    align-items: center;
}

#addOfferButton, #editOfferButton, #archiveOfferButton, #deleteFavButton, #deleteOfferButton, #restoreOfferButton{
    width: 50px;
    height: 40px;
    border-color: #388E3C;
    margin-right: 2%;
    float: left;
    transition: .3s ease-out ;

}

#addOfferButton:hover, #editOfferButton:hover, #archiveOfferButton:hover, #deleteFavButton:hover, #deleteOfferButton:hover,
#restoreOfferButton:hover{
    background-color: #bee5bf;
}

#addOfferButton:focus, #editOfferButton:focus, #archiveOfferButton:focus, #deleteFavButton:focus, #deleteOfferButton:focus,
#restoreOfferButton:focus{
    background-color: #bee5bf;
}

.offersUser > img {
    height: 100%;
    width: 150px;
    float: left;
    object-fit: cover;
}

.offersUser> #name{
    font-size: x-large;
    margin-left: 2%;
    float: left;
}

.offersUser > #offerUserButtonContainer{
    margin-right: 2%;
    position: absolute;
    right: 0;
    display: inline-block;
}

#showOfferButton{
    transition: .3s ease-out ;
    width: 150px;
    font-size: large;
    height: 40px;
    border-color: #388E3C;
}

#showOfferButton:hover{
    background-color: #bee5bf;
    border-color: #bee5bf
}

#showOfferButton:focus{
    background-color: #bee5bf;
    border-color: #388E3C;
}

#productImgUploaderContainer .dx-fileuploader-button{
    border-color: #388E3C;
    font-size: medium;
    transition: .3s ease-out ;
}

#productImgUploaderContainer .dx-fileuploader-button:hover{
    background-color: #bee5bf;
    border-color: #bee5bf
}

#productImgUploaderContainer .dx-fileuploader-button:focus{
    background-color: #bee5bf;
    border-color: #388E3C;
}


#saveAddButton{
    position: absolute;
    bottom: 5%;
    right: 1%;
    width: 100px;
    border-color: #388E3C;
    font-size: medium;
    font-weight: bold;
    transition: .3s ease-out ;
}

#saveAddButton:hover{
    background-color: #bee5bf;
}

#cancelAddButton {
    position: absolute;
    bottom: 5%;
    right: 15%;
    width: 100px;
    font-size: medium;
    font-weight: bold;
    border-color: #ff7b6a;
    transition: .3s ease-out ;

}

#cancelAddButton:hover, #cancelAnotherNewButton:hover, #cancelActiveAnotherButton:hover{
    background-color: #ffbfb2;
}

.offerFav>img{
    height: 100%;
    width: 150px;
    float: left;
    object-fit: cover;
}

.offerFav> #name{
    font-size: x-large;
    margin-left: 2%;
    float: left;
}

.offerFav > #offerUserButtonContainer{
    margin-right: 2%;
    position: absolute;
    right: 0;
    display: inline-block;
}

.offerDelete>img{
    height: 100%;
    width: 150px;
    float: left;
    object-fit: cover;
}

.offerDelete> #name{
    font-size: x-large;
    margin-left: 2%;
    float: left;
}

#offerText, #transactionText{
    font-size: large;
    float: left;

}

#clientName{
    font-size: large;
    float: left;
    margin-left: 1%;
}

#ownerName, #transactionName{
    font-size: large;
    float: left;
    margin-left: 1%;
}

#transactionDate{
    font-size: large;
    float: right;
    margin-right: 2%;
}



#addAnotherNewButton, #addActiveAnotherOfferButton{
    transition: .3s ease-out ;
    width: 300px;
    font-size: large;
    height: 40px;
    border-color: #388E3C;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 1%;
}

#acceptAnotherNewButton:hover, #addAnotherNewButton:hover, #addActiveAnotherOfferButton:hover, #acceptActiveAnotherButton:hover{
    background-color: #bee5bf;
    border-color: #bee5bf
}

 #addAnotherNewButton:focus, #addActiveAnotherOfferButton:focus{
    background-color: #bee5bf;
}

#clientOfferGrid, #rOfferGrid, #aOfferGrid, #aSentActiveOfferGrid, #aEndTransactionOfferGrid, #sOfferGrid{
    margin-top: 2%;
    margin-bottom: 1%;

}

.offerAnotherList > img{
    height: 100%;
    width: 150px;
    float: left;
    object-fit: cover;
}

.offerAnotherList > #name{
    font-size: x-large;
    margin-left: 2%;
    float: left;
}

.offerFav > #AnotherOfferDetailsButtonContainer{
    margin-right: 2%;
    position: absolute;
    right: 0;
    display: inline-block;
}

#acceptAnotherNewButton, #acceptActiveAnotherButton{
    width: 150px;
    height: 40px;
    position: absolute;
    bottom: 5%;
    right: 1%;
    border-color: #388E3C;
    font-size: medium;
    font-weight: bold;
    transition: .3s ease-out ;

}

#cancelAnotherNewButton, #cancelActiveAnotherButton{
    position: absolute;
    bottom: 5%;
    right: 21%;
    width: 150px;
    height: 40px;
    font-size: medium;
    font-weight: bold;
    border-color: #ff7b6a;
    transition: .3s ease-out ;
}

#acceptLink{
    color: #388E3C;
}

#deleteLink{
    color: #ff7b6a;
}

#showLink{
    color: #2275B6;
}

#acceptLink, #deleteLink, #showLink{
    font-weight: bold;
    transition: .3s ease-out;
}

#acceptLink:hover, #deleteLink:hover, #showLink:hover{
    color: #393e46;
    font-weight: bold;
}


 #cancelSendOfferButton, #rejectNewTransactionButton, #rejectActiveTransactionButton{
    width: 200px;
    height: 40px;
    font-size: medium;
    font-weight: bold;
    border-color: #ff7b6a;
    transition: .3s ease-out ;
    margin-bottom: 0;
     float: right;
     margin-right: 1%;
}

#acceptNewTransactionButton, #acceptActiveTransactionButton{
    width: 200px;
    height: 40px;
    border-color: #388E3C;
    font-size: medium;
    font-weight: bold;
    transition: .3s ease-out ;
    margin-bottom: 0;
    float: right;
    margin-right: 1%;
}

#sendResponseNewTransactionButton, #sendResponseActiveTransactionButton{
    width: 200px;
    height: 40px;
   /* margin-right: 1%;*/
    border-color: #2275B6;
    font-size: medium;
    font-weight: bold;
    transition: .3s ease-out ;
    margin-bottom: 0;
    float: right;


}


 #cancelSendOfferButton:hover, #rejectNewTransactionButton:hover, #rejectActiveTransactionButton:hover{
    background-color: #ffbfb2;

}

 #acceptNewTransactionButton:hover, #acceptActiveTransactionButton:hover{
    background-color: #bee5bf;

}

#sendResponseNewTransactionButton:hover, #sendResponseActiveTransactionButton:hover{
    background-color: #c1ddf3;
    border-color: #c1ddf3;

}

.offerAnotherList > #AnotherOfferDetailsButtonContainer{
    margin-right: 2%;
    position: absolute;
    right: 0;
    display: inline-block;
}

.userOfferListContainer, .userFavListContainer, #anotherActiveOfferList, #anotherNewList, #userDeletedOfferList{
    float:left;
    clear: left;
    margin-bottom: 5%;
}

.userOffersButtonMenu, .userFavButtonMenu, .userDeletedOffersButtonMenu{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 5%;
    float:left;
}

div.dx-scrollview-content{
     float: bottom;
     clear: bottom;
 }



#anotherActiveOfferContainer, #anotherNewContainer{

    height: 570px;

}

@media (max-width: 380px) and (max-height: 700px) {

    #cancelSendOfferButton, #rejectNewTransactionButton, #rejectActiveTransactionButton{
        margin-bottom: 1%;
    }

    #acceptNewTransactionButton, #acceptActiveTransactionButton{
        margin-bottom: 1%;
    }

    #sendResponseNewTransactionButton, #sendResponseActiveTransactionButton{
        margin-bottom: 1%;
    }

    .headerContainer> img{
        left: 5%;
    }

    .userLoginContent{
        right: 5%;
    }

    #logoutButton  .dx-icon{
        padding-right: 25px;
    }

    .userDrawerContainer{
        font-family: "Open Sans", Arial, sans-serif;
        margin: 0 0 0 0;
        float: left;
        display: table;
        width: 100%;

    }
    .userInformationContainer{
        height: 900px;
    }

    .userInformationContainer{
        margin: 3% 5% 15% 5%;
        float: none;
        display: block;
        width: 90%;
        overflow: scroll;
    }

    #userDataContent{
        display: inline-block;
    }

    #userPasswordContent, #userOffersContent, #userFavContent, #userReceivedContent,
    #userSendTransactionContent, #userActiveTransactionContent, #userSentActiveTransactionContent, #userEndTransactionContent,
    #userDeleteContent{
        display: inline-block;
        width: 90%;
    }

    .panel-list {
        min-height: 970px;
    }

    #imgUser{
        width: 150px;
        height: 150px;
        float: none;
        display: table;
        margin: 5% auto;
    }

    #userImgUploaderContainer{
        margin: 0 0 2% 0;
        width: 70%;

    }
    #userDataForm {
        text-align: left;
    }

    .myClass {
        width: 130px;
    }

    .offersUser, .offerFav, .offerAnotherList, .offerDelete{
        display: block;
        align-items: center;

    }

    #addOfferButton, #editOfferButton{
        margin-bottom: 1%;
    }

    .offersUser> img{
        float: none;
        width: 100%;


    }

    .offersUser> #name{
        font-size: x-large;
        margin-left: 2%;
        float: none;
        width: 100%;
        text-align: center;
    }

    .offersUser > #offerUserButtonContainer{
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .offerFav> img{
        float: none;
        width: 100%;

    }

    .offerFav> #name{
        font-size: x-large;
        margin-left: 2%;
        float: left;
        width: 100%;
        text-align: center;
    }

    .offerFav > #offerUserButtonContainer{
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .offerAnotherList > #name{
        font-size: x-large;
        margin-left: 2%;
        float: left;
        width: 60%;
        text-align: left;
    }


    .offerDelete> img{
        float: none;
        width: 100%;
        height: 80%;

    }

    .offerDelete> #name{
        font-size: x-large;
        float: none;
        width: 100%;
        text-align: center;
    }

    .offersUser > #offerUserButtonContainer{
        position: static;
        margin-left: 2%;
        margin-top: 2%;
        float: left;
    }

    .offerFav >  #offerUserButtonContainer{
        position: static;
        margin-left: 2%;
        margin-top: 2%;
        float: left;
    }

    .offerAnotherList > #AnotherOfferDetailsButtonContainer{
        position: static;
        margin-left: 2%;
        margin-top: 2%;
        float: left;

    }


    #showOfferButton{
        float: left;
    }

    #cancelAddButton{
        right: 110px;
    }

    #addAnotherNewButton, #addActiveAnotherOfferButton{
        width: 200px;
        margin-left: 0;
    }

    #acceptAnotherNewButton, #acceptActiveAnotherButton{
        width: 120px;
    }


    #cancelAnotherNewButton, #cancelActiveAnotherButton{
        width: 120px;
        right: 130px;
    }


    #cancelSendOfferButton{
        right: 3% ;
    }

}

@media (min-width: 381px) and (max-width: 768px){

    #cancelSendOfferButton, #rejectNewTransactionButton, #rejectActiveTransactionButton{
        margin-bottom: 1%;
    }

    #acceptNewTransactionButton, #acceptActiveTransactionButton{
        margin-bottom: 1%;
    }

    #sendResponseNewTransactionButton, #sendResponseActiveTransactionButton{
        margin-bottom: 1%;
    }

    .headerContainer> img{
        left: 5%;
    }

    .userLoginContent{
        right: 5%;
    }

    #logoutButton  .dx-icon{
        padding-right: 25px;
    }
    .userInformationContainer{
        min-height: 900px;
    }
    .userDrawerContainer{
        font-family: "Open Sans", Arial, sans-serif;
        margin: 0 0 0 0;
        float: left;
        display: table;
        width: 100%;
    }


    .userInformationContainer{
        margin: 3% 5% 15% 5%;
        float: none;
        display: block;
        width: auto;


    }

    #userDataContent{
        display: inline-block;
    }

    #userPasswordContent, #userOffersContent, #userFavContent, #userReceivedContent,
    #userSendTransactionContent, #userActiveTransactionContent, #userSentActiveTransactionContent, #userEndTransactionContent,
    #userDeleteContent{
        display: inline-block;
        width: 90%;
    }

    .panel-list {
        min-height: 970px;
    }

    #imgUser{
        width: 150px;
        height: 150px;
        float: none;
        display: table;
        margin: 5% auto;
    }

    #userImgUploaderContainer{
        margin: 0 0 2% 0;
        width: 70%;

    }
    #userDataForm {
       text-align: left;
    }

    .myClass {
        width: 130px;
    }

    .offersUser, .offerFav, .offerAnotherList{
        display: block;
        align-items: normal;

    }

    #addOfferButton, #editOfferButton{
        margin-bottom: 1%;
    }

    .offersUser> #name{
        font-size: x-large;
        margin-left: 2%;
        float: left;
        width: 60%;
        text-align: left;
    }

    .offerFav> #name{
        font-size: x-large;
        margin-left: 2%;
        float: left;
        width: 60%;
        text-align: left;
    }

    .offerAnotherList > #name{
        font-size: x-large;
        margin-left: 2%;
        float: left;
        width: 60%;
        text-align: left;
    }

    .offersDelete> #name{
        font-size: x-large;
        margin-left: 2%;
        float: left;
        width: 60%;
        text-align: left;
    }

    .offersUser > #offerUserButtonContainer{
        position: static;
        margin-left: 2%;
        margin-top: 2%;
        float: left;
    }

    .offerFav >  #offerUserButtonContainer{
        position: static;
        margin-left: 2%;
        margin-top: 2%;
        float: left;
    }

    .offerAnotherList > #AnotherOfferDetailsButtonContainer{
        position: static;
        margin-left: 2%;
        margin-top: 2%;
        float: left;

    }


    #showOfferButton{
        float: left;
    }

    #cancelAddButton{
        right: 110px;
    }

    #addAnotherNewButton, #addActiveAnotherOfferButton{
        width: 200px;
        margin-left: 0;
    }

    #acceptAnotherNewButton, #acceptActiveAnotherButton{
        width: 120px;
    }


    #cancelAnotherNewButton, #cancelActiveAnotherButton{
        width: 120px;
        right: 130px;
    }

    #cancelSendOfferButton{
        right: 3% ;
    }

}

@media (min-width: 769px) and (max-width: 1200px){

    #cancelSendOfferButton, #rejectNewTransactionButton, #rejectActiveTransactionButton{
        margin-bottom: 1%;
    }

    #acceptNewTransactionButton, #acceptActiveTransactionButton{
        margin-bottom: 1%;
    }

    #sendResponseNewTransactionButton, #sendResponseActiveTransactionButton{
        margin-bottom: 1%;
    }
    .headerContainer> img{
        left: 5%;
    }

    .userLoginContent{
        right: 5%;
    }

    .userMenuContainer{
        margin-left:5% ;
        width: 30%;
        margin-bottom: 10%;
        height: 700px;
    }

    .userInformationContainer{
        width: 59%;
        margin-right: 5%;
        margin-bottom: 10%;
        height: 700px;
    }

    #userImgUploaderContainer{
        max-width: 45%;
    }

    #imgUser{
        margin-right: 2%;
    }

    .offersUser, .offerFav, .offerAnotherList{
        display: block;
        align-items: normal;

    }

    #addOfferButton, #editOfferButton{
        margin-bottom: 1%;
    }

    .offersUser> #name{
        font-size: x-large;
        margin-left: 2%;
        float: left;
        width: 60%;
        text-align: left;
    }

    .offerFav> #name{
        font-size: x-large;
        margin-left: 2%;
        float: left;
        width: 60%;
        text-align: left;
    }

    .offerAnotherList > #name{
        font-size: x-large;
        margin-left: 2%;
        float: left;
        width: 60%;
        text-align: left;
    }

    .offersDelete> #name{
        font-size: x-large;
        margin-left: 2%;
        float: left;
        width: 60%;
        text-align: left;
    }

    .offersUser > #offerUserButtonContainer{
        position: static;
        margin-left: 2%;
        margin-top: 2%;
        float: left;
    }

    .offerFav >  #offerUserButtonContainer{
        position: static;
        margin-left: 2%;
        margin-top: 2%;
        float: left;
    }

    .offerAnotherList > #AnotherOfferDetailsButtonContainer{
        position: static;
        margin-left: 2%;
        margin-top: 2%;
        float: left;

    }

    #cancelAddButton{
        right: 110px;
    }

    #addAnotherNewButton, #addActiveAnotherOfferButton{
        width: 200px;
        margin-left: 0;
    }

    #acceptAnotherNewButton, #acceptActiveAnotherButton{
        width: 120px;
    }


    #cancelAnotherNewButton, #cancelActiveAnotherButton{
        width: 120px;
        right: 130px;
    }

    .userDeletedOfferListContainer, .userOfferListContainer, .userFavListContainer{
        height: 510px;
    }
    #cancelSendOfferButton{
        right: 3% ;
    }
}

@media (min-width: 1201px) and (max-width: 1600px){

    .headerContainer> img{
        left: 15%;
    }

    .userLoginContent{
        right: 15%;
    }

    .userMenuContainer{
        margin-left:15% ;
        width: 20%;
        margin-bottom: 10%;
        height: 700px;
    }

    .userInformationContainer{
        width: 49%;
        margin-right: 15%;
        margin-bottom: 10%;
        height: 700px;
    }

    #imgUser{
        margin-top: 4%;
    }
    #userImgUploaderContainer{
        max-width: 40%;
    }

    #addAnotherNewButton, #addActiveAnotherOfferButton{
        width: 200px;
        margin-left: 0;

    }

    #cancelAnotherNewButton, #cancelActiveAnotherButton{
        right: 170px;
    }

    .userDeletedOfferListContainer, .userOfferListContainer, .userFavListContainer{
        height: 510px;
    }

    #cancelSendOfferButton{
        right: 2% ;
    }

}

@media (min-width: 1601px){

    #userImgUploaderContainer{
        max-width: 40%;
    }

    .userMenuContainer{
        height: 700px;
    }

    .userInformationContainer{
        height: 700px;
    }

    .userDeletedOfferListContainer, .userOfferListContainer, .userFavListContainer{
        height: 510px;
    }

}


/*-------------------------*/

