
.allBackground{
    background-color: #f3f4ee;
}

.allContent{
    -moz-user-select: none;
    user-select: none;
    font-family: "Open Sans", Arial, sans-serif;

}

.headerContainer{
    height: 10%;
    width: 100%;
    background-color: #388E3C;
    display: flex;
    align-items: center;
    justify-content: center
}

.searchContent{
    display: inline-block;
    width: 100%;
    margin: 0 2% 0 2%;
}

.headerContainer> img{
    margin-left: 14%;
    height: 68%;
}

#searchBar {
    display: inline-block;


}

#searchBarL{
    display: inline-block;
    width: 40%;
    height: 100%;
}

#searchCategory{
    display: inline-block;
}

#searchCity{
    display: inline-block;

}

#searchButton{
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: #388E3C;
    border-color: white;
    height: 100%;
    float:right;
    margin-right: 0;
    margin-top: 0;
    display: inline-block;
    width: 15%;
    transition: .3s ease-out;
}

#searchButton:hover{
    background-color: #2e7632;
    border-color: #2e7632;
}


.userLoginContent{
    float: right;
    margin: 0 20% 0 0;
    display: inline-block;

}

#loginButton{
    font-size: large;
    font-weight: bold;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;

}

#loginButton  .dx-icon{
    display: inline-block;
    color: white;
    font-size: 25px;
    padding-right: 30px;
}

#loginButton:hover{
    background-color: #2e7632;
    border-color: #2e7632;
}

.categoryContainer{
    margin: 3% 20% 5% 20%;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(57,62,70,.2);

}

#userButton, #logoutButton{
    display: block;
    margin-bottom: 5%;
    border-color: #388E3C;
    font-size: medium;
    transition: .3s ease-out ;
    font-weight: bold;
}

#userButton:hover, #logoutButton:hover{
    background-color: #bee5bf;
}

#badText{
    float: left;
    color: #ea4444;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 2%;
}

#categoryTab{
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category{
    display: inline-block;
}
.category > #name{
    display: inline-block;
    align-items: center;
}

.category > img{
    display: inline-block;
    vertical-align: middle;
    padding-right: 10%;

}

.dx-list .dx-list-item {
    width: 25%;
    float: left;
    border: 0;
}


/*oferty home latest*/

.latestContent{
    box-shadow: 0 1px 4px 0 rgba(57,62,70,.2);
    margin: 0 20% 0 20%;
    background-color: white;
}

#latestTextContent{
    background-image: linear-gradient(to right, #163918, #1e4d20, #266228, #2f7830, #388e38);
    height: 50px;
    position: relative;

}

#latestText{
    display: inline-block;
    color: white;
    font-size: large;
    margin-left: 2%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#latestButton{
    display: inline-block;
    right: 0;
    color: white;
    font-size: large;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
}

#latestButton:hover{
    background-color: #2e7632;
    border-color: #2e7632;
}

#latestProductView{
    margin-top: 2%;
}


/*oferty home random*/

.randomContent{
    box-shadow: 0 1px 4px 0 rgba(57,62,70,.2);
    margin: 5% 20% 5% 20%;
    background-color: white;

}

#randomTextContent{
    background-image: linear-gradient(to right, #163918, #1e4d20, #266228, #2f7830, #388e38);
    height: 50px;
    position: relative;

}

#randomText{
    display: inline-block;
    color: white;
    font-size: large;
    margin-left: 2%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#randomButton{
    display: inline-block;
    right: 0;
    color: white;
    font-size: large;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
}

#randomButton:hover{
    background-color: #2e7632;
    border-color: #2e7632;
}

#randomProductView{
    margin-top: 2%;
}



@media (max-width: 380px) and (max-height: 700px) {

    .headerContainer{
        height: 320px;
        display: block;
        align-items: normal;
        justify-content: normal;
    }

    .headerContainer> img{
        display: inline-block;
        margin-left: 5%;
        height: 20%;
        width: 20%;
        margin-top: 2%;

    }

    .searchContent{
        margin: 2% 5% 2% 5%;
        height: 70%;
        float: left;
        width: 90%;
    }

    #searchBar {
        display: inline-block;
        width: 100%;
        height: 22%;
    }

    #categoryTabSelect{
        display: inline-block;
        height: 22%;
        width: 100%;
        margin-top: 1%;
    }

    #searchCity{
        display: inline-block;
        height: 22%;
        width: 100%;
        margin-top: 1%;
    }

    #searchButton{
        height: 22%;
        width: 45%;
        margin-top: 1%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .userLoginContent{
        display: inline-block;
        margin: -80% 5% 0 0;
        height: 10%;
        float: right;
    }

    #loginButton  .dx-icon{
        padding-right: 25px;
    }
    .latestContent{
        margin: 0 5% 0 5%;
    }
    .randomContent{
        margin: 5% 5% 0 5%;
    }
    .dx-list .dx-list-item {
        width: 100%;
        float: none;
    }
}

@media (min-width: 381px) and (max-width: 768px){

    .headerContainer{
        min-height: 20%;
        display: flex;
        align-items: normal;
        justify-content: normal;
    }

    .headerContainer> img{
        margin-left: 5%;
        height: 50%;
        margin-top: 2%;

    }

    .searchContent{
        margin: 2% 2% 2% 2%;
        height: 85%;
    }

    #searchBar {
        display: inline-block;
        width: 100%;
        height: 30%;
    }

    #categoryTabSelect{
        display: inline-block;
        height: 30%;
        width: 49%;
        margin-top: 1%;
    }

    #searchCity{
        display: inline-block;
        height: 30%;
        width: 49%;
        float: right;
        margin-top: 1%;
    }

    #searchButton{
        height: 30%;
        width: 45%;
        margin-top: 1%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }


    .userLoginContent{
        margin: 2% 5% 0 0;
        height: 30%;
    }

    #loginButton  .dx-icon{
        padding-right: 25px;
    }

    .dx-list .dx-list-item {
        width: 100%;
        float: none;
    }

    .latestContent{
        margin: 0 5% 0 5%;
    }
    .randomContent{
        margin: 5% 5% 0 5%;
    }
}

@media (min-width: 769px) and (max-width: 992px){

    .headerContainer> img{
        margin-left: 5%;

    }
    .userLoginContent{
        margin: 0 5% 0 0;
    }

    .searchContent{
        display: flex;
        flex-flow: row;

    }

    #searchButton{
        max-width: 30%;
        min-width: 18%;
    }

    #searchBar {
        flex-grow : 1;
        margin-right: 1%;
    }

    #searchCity{
        max-width: 30%;
        margin-right: 1%;
    }

    .latestContent{
        margin: 0 5% 0 5%;
    }
    .randomContent{
        margin: 5% 5% 0 5%;
    }

    .categoryContainer {
        margin: 3% 5% 5% 5%;
    }

}

@media (min-width: 993px) and (max-width: 1200px){

    .headerContainer> img{
        margin-left: 5%;

    }
    .userLoginContent{
        margin: 0 5% 0 0;
    }

    .searchContent{
        margin-right: 5%;
        display: flex;
        flex-flow: row;

    }

    #searchBar {
        flex-grow : 1;
        margin-right: 1%;
    }

    #searchCity{
        max-width: 30%;
        margin-right: 1%;
    }

    .latestContent{
        margin: 0 5% 0 5%;
    }
    .randomContent{
        margin: 5% 5% 0 5%;
    }

    .categoryContainer {
        margin: 3% 5% 5% 5%;
    }


    #searchButton{
        max-width: 30%;
        min-width: 17%;
    }
}

@media (min-width: 1201px) and (max-width: 1500px){

    .headerContainer> img{
        margin-left: 13%;
    }
    .userLoginContent{
        margin: 0 5% 0 0;
    }

    .searchContent{
        margin-right: 3%;
        display: flex;
        flex-flow: row;

    }

    #searchBar {
        flex-grow : 1;
        margin-right: 1%;
    }

    #searchCity{
        max-width: 30%;
        margin-right: 1%;
    }
    #searchButton{

        min-width: 15%;
        max-width: 30%;
    }
}

@media (min-width: 1501px){


    .searchContent{
        display: flex;
        flex-flow: row;

    }

    #searchBar {
        flex-grow : 1;
        margin-right: 1%;
    }

    #searchCity{
        min-width: 30%;
        margin-right: 1%;
    }

    #searchButton{
        min-width: 15%;
        max-width: 30%;
    }

}

